<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>administrators</title>
    <link rel="stylesheet" href="css/styleadmin.css">
    <link rel="icon" href="css/img/tour-icon.png">
</head>
<body>

    <header>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/flightsS">Flights</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </header>

    <form action="/signUpAdmin" method="get">
        <button class="button-78" type="submit">Sign In</button>
    </form>

    <h1>Login Administrators</h1>
    <form action="/login" method="post">
      <label for="user_name">user_name:</label>
      <input type="text" id="user_name" name="user_name"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Login">
    </form>
</body>
</html>