<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleLogin.css">
    <title>flight project - login</title>
    <link rel="icon" href="css/img/tour-icon.png">
</head>
<body>

  

 

  <div class="icon">
    <img src="css/img/tour-icon.png" alt="header">

    <div class="conttanir">
        <video autoplay loop muted plays-inline class="background-clip">
          <source src="css/img/3740041-uhd_3840_2160_24fps.mp4" type="video/mp4">
          </div>

          <form action="/signIn.ejs" method="get">
            <button class="button-78" type="submit">Sign In</button>
        </form>


          <header>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/flightsS">Flights</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/signIn">Sign in</a></li>
            </ul>
          </header>
        

          <h1>Login</h1>
          <form action="/login" method="post">
            <label for="user_name">user_name:</label>
            <input type="text" id="user_name" name="user_name"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
          </form>
              
          </div>
          </div>
       
      
          
</body>
</html>
