body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';

}
.conttanir{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0 , 4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.background-clip{
    position: absolute;
    right:0;
    bottom: 0;
    z-index: -1;

}
@media (min-aspect-ratio:16/9) {
    .background-clip{
        width:100% ;
        height: auto;
    }
    
}
@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}
header {
    
    color: #fff;
    padding: 1em;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
   
  font-size: 30px;
  }
  
  header li {
    margin-left: 20px;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
  }
  
  header a:hover {
    color: blue;
    timeline-scope: 0.3s;
  }
  
  

  /* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
